@using FluentBootstrap
@model IEnumerable<docthersApplication.Models.Patient>

@{
    ViewBag.Title = "Patients";
}

@Html.Bootstrap().PageHeader("Page Header")

@using (var table = Html.Bootstrap().Table().Begin())
{
    @table.TableHeaderRow("ID", "Name", "CNIC", "Date of Birth", "Age")
    using (var row = table.TableRow().Begin())
    {
        foreach (var i in Model)
        {
            @row.TableData(i.Id)
            @row.TableData(i.Name)
            @row.TableData(i.CNIC)
            @row.TableData(i.DateOfBirth)
            @row.TableData(i.Age)
        }
    }
  
}




<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>